/* .header-wrapper {
    max-width: 1920px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100
} */

.header-container {
    display: flex;
    width: 1920px;
    height: 110px;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    z-index: 1000000000000;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.6s;
    padding: 0 100px 0 200px;

}

.header-container .nav {
    display: flex;
    max-width: 1920px;

    /* margin-left: 500px; */
    text-align: center;
}

.header-scrolled {
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.5s;
}

.sticky {
    /* padding: 5px 100px; */
    background-color: #000;
    opacity: 0.8;
    transition: 0.6s;
    /* overflow: hidden; */
    z-index: 1000000;
}




.header-logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-right: 500px; */
    z-index: 1;
}

.header-logo .logo {
    width: 80px;
    height: 80px;
    margin-right: 30px;
    z-index: 1;
}

.nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15px;
    gap: 15px;
    z-index: 1;
}

.nav ul li {
    /* border: 1px solid black; */
    width: 90px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: 600;
    list-style: none;
    background-color: rgba(0, 0, 0,0.5);
    border-radius: 10px;
    /* padding: 5px 7px 5px 7px; */
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.nav ul li:hover {
    scale: 1.2;
    opacity: 0.5;
    border: 2px solid white;;
    cursor: pointer;
    /* transition: 1s; */
}

.nav ul li:active {
    outline: 1px white solid;
    /* border-radius: 50px; */
    scale: 1.0;

}

.header-container a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    z-index: 1;
    font-weight: 600;
    /* border: 2px solid yellow; */
    /* padding-top: 10px; */
    
}