/* #loginModal {
    display: flex;

    z-index: 100000;
} */


.signup-form,
.login-form {
    /* position: absolute;
    top: 45%;
    left: 50%; */
    position: fixed;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, .2);
    z-index: 1000;
    /* filter: blur(radius);
    transition: 0.5s;
    pointer-events: none; */

}


.form {
    width: 500px;

    padding: 20px 50px;
    padding-bottom: 100px;
}

/* .form .close {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    text-align: right;
   
} */

.form .text h1 {
    text-align: center;
    margin: 30px 0px;
}

.form form {
    display: block;
    margin: auto;
}

.form .row {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.form .row input {
    width: 100%;
    margin-bottom: 0;
}

.form .row input:first-child {
    margin-right: 10px;
}

.form .row input:last-child {
    margin-left: 10px;
}

.form form input {
    width: 100%;
    display: block;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 20px 16px;
    margin: 20px auto;
    outline: none;
}

.signup-form.active,
.login-form.active {
    top: 50%;
    transition: 0.5s;
    /* visibility: hidden; */
}

.constainer.active {
    filter: blur(20px);
    transition: 0.5s;
    pointer-events: none;
}


.login-form-wrapper,
.register-form-wrapper {
    position: absolute;
    width: 500px;
    height: auto;
    /* display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    flex-direction: column; */
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    z-index: 200;
    /* border: 1px solid black; */
}

.login-close-btn {
    position: fixed;
    margin-top: 150px;
    margin-left: -75px;
    padding: 10px 60px;
    /* display: flex; */
    /* position: absolute; */
    /* top: 86%;
    left: 50%; */
    z-index: 30000;
}

.register-close-btn {
    position: fixed;
    margin-top: 200px;
    margin-left: -75px;
    padding: 10px 60px;
    /* display: flex; */
    /* position: absolute; */
    /* top: 86%;
    left: 50%; */
    z-index: 30000;
}