/* #loginModal {
    display: flex;

    z-index: 100000;
} */


.signup-form,
.login-form {
    /* position: absolute;
    top: 45%;
    left: 50%; */
    position: fixed;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, .2);
    z-index: 100000;
    background-color: rgb(224, 213, 213);
    /* filter: blur(radius);
    transition: 0.5s;
    pointer-events: none; */

}

.error-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: relative;
}

.error-wrapper .error-msg {
    color: red;
    position: absolute;
    top: 45px;
    left: 10px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

.error-wrapper .error-msg2 {
    color: red;
    position: absolute;
    top: 25px;
    left: 40px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

.login-form .error-msg {
    color: red;
    position: absolute;
    top: 90px;
    left: 10px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

.login-form .close-btn-wrapper,
.signup-form .close-btn-wrapper {
    display: block;
    width: 100%;
    text-align: right;
    font-size: 20px;
    margin-top: 10px;
}

.login-form .close-btn-wrapper .close-btn,
.signup-form .close-btn-wrapper .close-btn {
    text-decoration: none;
    color: black;
    padding: 15px;

    font-weight: 900;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-bottom-left-radius: 30%;
    cursor: pointer;
}

.login-form .close-btn-wrapper .close-btn:hover,
.signup-form .close-btn-wrapper .close-btn:hover {
    background-color: #aaaaaa;
}

.login-form .close-btn-wrapper .close-btn:active,
.signup-form .close-btn-wrapper .close-btn:active {
    color: white;
    border-bottom: 4px solid #efefef;
    border-left: 4px solid #efefef;
    border-bottom-left-radius: 30%;
}


.form {
    width: 576px;
    padding: 20px 50px;
    padding-bottom: 50px;
}



/* .login-form .text h1 {
    text-align: center;
    margin: 30px 0px;
} */

.form .text {
    display: block;
    width: 100%;
    height: 200px;

}

.form .text img {
    display: block;
    width: 100%;
    height: 150px;
    /* height: auto; */
    /* object-fit: cover; */
}

.login-form .text {
    margin-top: 20px;
}

.login-form .signup {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 600;

}



.login-form .signup a {
    cursor: pointer;
    /* text-decoration: underline; */
    color: blue;
}

.form form {
    display: block;
    margin: auto;
}

.login-form.form .row {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.login-form.form .row input {
    width: 100%;
    margin-bottom: 0;
}

.login-form.form .row input:first-child {
    margin-right: 10px;
}

.login-form.form .row input:last-child {
    margin-left: 10px;
}

.login-form .form form input {
    width: 100%;
    display: block;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 20px 16px;
    margin: 20px auto;
    outline: none;
}

.signup-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: auto;
}

.signup-form form .form-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: -30px;
    margin-bottom: 20px;
}

.signup-form form div {
    display: flex;
    gap: 10px;
}

.signup-form form input {
    font-size: 18px;
    padding: 5px;
}

.signup-form #gender {
    width: 100%;
    height: 42px;
}

.signup-form form label {
    font-size: 16px;
}

.login-form .btn,
.signup-form .btn {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 30px;
    color: black;
    background-color: #efefef;
    /* padding: 10px 0; */
    font-size: 18px;
    font-weight: 600;
    margin-bottom: -20px;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, .2);
}

.signup-form .btn:hover,
.login-form .btn:hover {
    background-color: #aaaaaa;
}

.signup-form .btn:active,
.login-form .btn:active {
    outline: 3px solid rgb(182, 182, 182);
}

.signup-form .loginin {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.signup-form a {
    color: blue;
    cursor: pointer;
}

.signup-form .remark {
    font-weight: 600;
    font-style: italic;
}

.signup-form .remark span {
    font-size: 24px;
}

.signup-form .adultcheck label,
.signup-form .license label {
    font-weight: 600;
}


.signup-form #register {
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid rgb(109, 108, 108);
    margin-top: -20px;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, .2);
}

.signup-form #register:hover {
    background-color: #aaaaaa;
}

.signup-form #register:active {
    outline: 3px solid rgb(182, 182, 182);

}

.signup-form .checkbox {
    width: 20px;
    height: 20px;
}


.login-form .loginErr {
    display: block;
    color: red;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
    font-weight: 900;
    margin-bottom: -40px;
  
}


.login-form #login {
    font-size: 18px;
    font-weight: 600;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgb(109, 108, 108);
    margin-top: 70px;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, .2);
}

.login-form #login:hover {
    background-color: #aaaaaa;
}

.login-form #login:active {
    outline: 3px solid rgb(182, 182, 182);

}

.signup-form.active,
.login-form.active {
    top: 50%;
    transition: 0.5s;
    /* visibility: hidden; */
}

.constainer.active {
    filter: blur(20px);
    transition: 0.5s;
    pointer-events: none;
}


.login-form-wrapper,
.register-form-wrapper {
    position: absolute;
    width: 500px;
    height: auto;

    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    z-index: 200;
    /* border: 1px solid black; */
}