.user-profil-header {
    width: 100%;
    height: 80px;
    /* position: fixed; */
    top: 0;
    left: 0;
    background-color: black;
    /* opacity: 0.7; */
    z-index: 1;
}

.user-profile-section-wrapper {
    position: relative;
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: center;
    background-color: aqua;
    /* align-items: center; */
    /* flex-wrap: wrap; */
}

.user-profil-bgnd {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.user-profil-bgnd img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.user-welcome {
    /* position: relative; */
    width: 100%;
    height: 500px;
    display: flex;
    background-color: lightskyblue;
    color: purple;
    font-size: 42px;
    /* border-top: 80px black solid; */
    /* margin-top: 80px; */
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url('../../../assets/users/user-profil-bgnd.jpg');
    background-repeat: no-repeat;
    background-size: cover;


}

/* .user-welcome h2 {} */

.user-picture-wrapper {
    /* width: 45%; */
    height: 300px;

}

.user-picture-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 5px solid silver;
    /* outline: 1px solid white; */
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);

    border-radius: 50%;
    overflow: hidden;
}

.user-profile-container {

    width: 60%;
    height: 400px;
    margin-top: -200px;
    border: 1px solid rgb(146, 144, 144);
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    align-items: center;
    box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.4);
    /* background-color: rgba(204, 202, 202, 0.1); */
    z-index: 10;
    background-image: url('../../../assets/users/user-profile-texture.jpeg');
    background-repeat: no-repeat;
    background-size: cover;


}

.user-picture-holder img {
    display: block;
    /* width: 120%; */
    /* width: 100%;  */
    /* height: auto;
    /* border: 1px solid grey;
    border-radius: 50%; */
    object-fit: cover;
    scale: 0.5;

}

.user-details {
    margin-bottom: 100px;
}

/* .user-image-upload {} */

.user-image-upload label {
    font-size: 28px;
    color: white;
    background-color: red;
    padding: 3px 15px;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: -60px;
}

.user-image-upload label:hover {
    /* opacity: 0.4; */
    background-color: rgb(155, 2, 2);
    cursor: pointer;
}

.user-image-upload label:active {
    opacity: 1;
    border-width: 2px;
    cursor: pointer;
}

#uploadImg {
    display: none;
}

.user-form {
    display: flex;
    /* flex-direction: column; */
    gap: 30px;
    flex-wrap: wrap;
}

.user-form label {
    margin-right: 10px;
    font-size: 18px;
    font-weight: 600;
    border: 1px black solid;
    padding: 5px 20px;
    background-color: rgba(204, 202, 202, 1.0);

}

.form-labels {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* justify-content: center; */
    /* align-items: center; */
}

.form-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

.form-fields input {
    font-size: 22px;
    outline: none;
    border: none;
    padding: 1px;
    padding-left: 5px;
    /* opacity: 0.5; */
}

.edit-profil {
    margin-bottom: 30px;
    text-align: center;
}

.edit-profil span {
    border-bottom: 1px solid black;
}

.edit-profil span:hover {
    cursor: pointer;
}

.edit-profil span:active {
    outline: 1px solid black;
}

.save-btn {
    align-self: flex-end;
    text-align: center;
    width: 100%;

}

.save-btn button {
    padding: 5px 25px;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 50px;
    border: 1px solid silver;
    color: white;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgb(96, 47, 121) 35%, rgba(0, 212, 255, 1) 100%);
}

.save-btn button:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgb(96, 47, 121) 35%, rgba(0, 212, 255, 1) 100%);
}

.save-btn button:active{
    outline: 2px solid white;
}