.user-profil-header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
    z-index: 2000;
}

.user-profile-section-wrapper {
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    background-color: aqua;
    /* align-items: center; */
    /* flex-wrap: wrap; */
}

.user-welcome {
    width: 100%;
    height: 300px;
    display: flex;
    background-color: lightskyblue;
    color: purple;
    font-size: 42px;
    /* border-top: 80px black solid; */
    margin-top: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-picture-wrapper {
    /* width: 45%; */
    height: 300px;

}

.user-picture-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 5px solid silver;
    /* outline: 1px solid white; */
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
    
    border-radius: 50%;
    overflow: hidden;
}

.user-picture-holder img {
    display: block;
    /* width: 120%; */
    /* width: 100%;  */
    /* height: auto;
    /* border: 1px solid grey;
    border-radius: 50%; */
    object-fit: cover;
    scale: 0.5;

}

.user-details {
    /* width: 45%; */
    /* height: auto; */
}

.user-image-upload {

}

.user-image-upload label {
    font-size: 28px;
    color: white;
    background-color: red;
    padding: 3px 15px;
    border: 1px solid white;
    border-radius: 50%;
}

.user-image-upload label:hover {
    opacity: 0.7;
    cursor: pointer;
}

.user-image-upload label:active {
    opacity: 1;
    border-width: 2px;
    cursor: pointer;
}

#uploadImg {
    display: none;
}

.user-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.user-form label {
    margin-right: 10px;
    font-size: 18px;
    border: 1px black solid;
    padding: 5px 20px;
}