/* .profile-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 10;
    justify-content: center;
    /* align-items: center; */
/* gap: 50px; */
/* } */

.user-profil-header {
    width: 100%;
    height: 90px;
    /* position: fixed; */
    top: 0;
    left: 0;
    background-color: black;
    /* opacity: 0.7; */
    z-index: 1;
}

.profileBgnd {
    position: absolute;
    width: 100%;
    height: 900px;
    top: 0;
    left: 0;
    z-index: -10;
}



.profileBgnd img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    opacity: 0.6;
}

.user-profile-section {
    width: 100%;
    height: 300px;
    z-index: 10;
}

.user-profile-section-wrapper {
    position: relative;
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    z-index: 10;
    /* background-color: aqua; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
}

.user-profil-bgnd {
    width: 100%;
    height: 2000px;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    z-index: -1;
}

.user-profil-bgnd img {
    display: block;
    width: 100%;
    height: 2000px;
    object-fit: cover;
}

.user-welcome {
    /* position: relative; */
    width: 100%;
    height: 500px;
    display: flex;
    margin-top: 70px;
    /* background-color: lightskyblue; */
    color: purple;

    /* border-top: 80px black solid; */
    /* margin-top: 80px; */
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-size: 32px;
    /* background-image: url('../../../assets/users/user-profil-bgnd.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;


}

.user-welcome h2 {
    /* box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5); */
    color: rgb(224, 196, 37);
    /* border: 2px solid black; */
    line-height: 1.5;
    text-shadow: 10px 3px 2px purple;
    -webkit-text-stroke: 3px purple;
    border: 1px solid groove;
    /* padding: 10px 30px; */

}

.user-picture-wrapper {
    /* width: 45%; */
    height: 300px;



}

.userInfo input {
    background: none;
    color: black;
    font-weight: 600;
}

.user-profile-container {

    width: 60%;
    height: 400px;
    margin-top: -200px;
    border: 1px solid rgb(146, 144, 144);
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    align-items: center;
    box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.4);
    /* background-color: rgba(204, 202, 202, 0.1); */
    z-index: 10;
    background-image: url('../../../assets/users/user-profile-texture.jpeg');
    background-repeat: no-repeat;
    background-size: cover;


}

.user-picture-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 5px solid silver;
    /* outline: 1px solid white; */
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);

    border-radius: 50%;
    overflow: hidden;
}

.user-picture-holder img {
    display: block;
    width: 100%;
    height: 100%;
    /* width: 120%; */
    /* width: 100%;  */
    /* height: auto;
    /* border: 1px solid grey;
    border-radius: 50%; */
    object-fit: cover;
    /* scale: 0.7; */

}

.user-details {
    margin-bottom: 100px;
}

/* .user-image-upload {} */

.user-image-upload label {
    font-size: 28px;
    color: white;
    background-color: red;
    padding: 3px 15px;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: -60px;
}

.user-image-upload label:hover {
    /* opacity: 0.4; */
    background-color: rgb(155, 2, 2);
    cursor: pointer;
}

.user-image-upload label:active {
    opacity: 1;
    border-width: 2px;
    cursor: pointer;
}

#uploadImg {
    display: none;
}

.user-form {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    /* gap: 30px; */
    flex-wrap: wrap;
}

.user-form label {
    width: 12ch;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 600;
    /* border: 1px black solid; */
    padding: 5px 20px;
    /* background-color: rgba(204, 202, 202, 1.0); */

}

.form-labels {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    /* justify-content: center; */
    /* align-items: center; */
}

.form-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;

}

.form-fields .normal {
    background-color: white;
    color: black;
    font-size: 22px;
    font-weight: 600;

}

.form-fields .disabled {
    background-color: unset;
    color: black;
    font-size: 22px;
    font-weight: 600;

}

.form-fields.info-fields {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 25px;
}

.form-fields div {
    display: flex;
    /* gap: 30px; */

}

.form-fields input {
    font-size: 22px;
    width: 15ch;
    outline: none;
    border: none;
    padding: 1px;
    padding-left: 5px;
    /* opacity: 0.5; */
}

.edit-profil {
    margin-bottom: 30px;
    text-align: center;
}

.edit-profil span {
    border-bottom: 2px solid black;
    padding: 3px 10px;
}

.edit-profil span:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
}

.edit-profil span:active {
    outline: 2px solid black;
}

.save-btn {
    align-self: flex-end;
    text-align: center;
    margin-top: 20px;
    width: 100%;


}

.save-btn button.inactive {
    padding: 5px 25px;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 50px;
    border: 1px solid silver;
    color: white;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgb(96, 47, 121) 35%, rgba(0, 212, 255, 1) 100%);
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: 3s;
}

.save-btn button.active {
    padding: 5px 25px;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 50px;
    border: 1px solid silver;
    color: white;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgb(96, 47, 121) 35%, rgba(0, 212, 255, 1) 100%);
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.3);
    transition: 3s;
    opacity: 1;

}



.save-btn button:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgb(96, 47, 121) 35%, rgba(0, 212, 255, 1) 100%);
}

.save-btn button:active {
    outline: 2px solid white;
}

.img-error-msg {
    /* height: 20px; */
    display: flex;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    /* box-shadow: 0px 0px 2px 5px rgba(0, 0, 0, 0.5); */
    color: white;
    font-weight: 600;
    border-radius: 5px;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    animation: fadeIn 4s;
    -webkit-animation: fadeIn 4s;
    -moz-animation: fadeIn 4s;
    -o-animation: fadeIn 4s;
    -ms-animation: fadeIn 4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.img-error-msg p {
    padding-bottom: 0;
    margin-bottom: 0;
    padding: 10px 15px;
    border: 5px groove white;
}

.img-error-msg i {
    color: red;
    font-size: 24px;
    margin-right: 5px;

}

.profile-error-msg {
    display: flex;
    position: fixed;
    width: auto;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px;
    z-index: 30000;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-content: center;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 0;

    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}