<div class="user-profil-header">
    <app-header></app-header>
</div>

<div class="user-welcome">
    <h2>Hi, user</h2>
    <h2>Welcome, to your profil page</h2>
</div>

<section class="user-profile-section">
    <div class="user-profile-section-wrapper">
        <div class="user-profile-container">
            <div class="user-picture-wrapper">
                <div class="user-picture-holder">
                    <img [src]="imageUrl" alt="userProfileImg">
                </div>
                <div class="user-image-upload">
                    <label for="uploadImg" data-bs-toggle="tooltip" title="Max size 320*320">+</label>
                    <input type="file" (change)="uploadFile($event)" name="uploadImg" id="uploadImg"  accept="image/*">
                </div>
                <div class="img-error-msg" *ngIf="toggleImgErr">
                    <p><i class="fa-solid fa-triangle-exclamation"></i> Only images allowed - max-size 320 x 320!</p>
                </div>
            </div>
            <div class="user-details">
                <div class="edit-profil">
                    <h2>Edit your profile  <span (click)="isDisabled()"><i class="fa-solid fa-pen-to-square"></i></span></h2>
                </div>
                <form class="user-form">
                    <!-- <div class="form-labels">
                        <label for="username">Name:</label>
                        <label for="email">Email:</label>
                        <label for="number">Phone:</label>
                    </div> -->
                    <div class="form-fields">
                        <div>
                            <input type="text" name="firstname" id="firstname" placeholder="Firstname" [disabled]="toggle">
                            <input type="text" name="lastname" id="lastname" placeholder="Lastname" [disabled]="toggle">
                        </div>
                        <div>
                            <input type="text" name="country" id="country" placeholder="Country" [disabled]="toggle">
                            <input type="text" name="city" id="username" placeholder="City" [disabled]="toggle">
                        </div>
                        <div>
                            <input type="email" name="email" id="email" placeholder="Email" [disabled]="toggle">
                            <input type="number" name="phone" id="phone" placeholder="Phone" [disabled]="toggle">
                        </div>  
                    </div>
                    <div class="save-btn">
                        <button *ngIf="isVisible" type="submit" [disabled]="toggle" >Save</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
<!-- <section class="liked-animals">
    <div id="myCarousel2" class="carousel slide d-none d-sm-block" data-bs-ride="carousel" data-bs-interval="4000">
        <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let animalsArray of animalsDataArray; let i = index"
                [class.active]="i === 0">
                <div class="cards-wrapper">
                    <div class="card" *ngFor="let animalCard of animalsArray"
                        (click)="getAnimalData(animalCard.Name, animalCard.Type)">
                        <div class="image-wrapper">
                            <img [src]="'../../../../assets/' + (animalCard.Type == 'Dog' ? 'dogs' : 'cats') + '/' + animalCard.Name + '.jpeg'"
                                alt="...">
                            <div class="like-btn-wrappper">
                                <a class="like-btn" (click)="toggleLike($event, animalCard)">
                                    <i
                                        [ngClass]="{'fa-regular':  animalCard.Liked == '0' , 'fa-solid': animalCard.Liked == '1', 'fa-heart': true}"></i></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ animalCard.Name }}</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up
                                the bulk of the card's
                                content.</p>
                            <a href="#" class="btn btn-primary">Details</a>
                        </div>
    
                    </div>
               
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section> -->


<app-donation-section></app-donation-section>
<app-footer></app-footer>