#myCarousel .carousel-item {
    height: 720px;
    background: #000;
    color: white;
    position: relative;
    /* z-index: -1; */
}

#myCarousel .container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    z-index: -1;
}

#myCarousel .overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
}

#myCarousel {
    border-bottom: purple 10px solid;
}




/* #myCarousel2 {
    width: 620px;
    height: 320px;
} */

#myCarousel2 .image-wrapper {
    max-width: 100%;
    height: 65vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#myCarousel2 img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (min-width: 576px) {
    #myCarousel2 .carousel-inner {
        display: flex;
    }

    #myCarousel2 .carousel-item {
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/4);
    }

        #myCarousel2 .image-wrapper {
            height: 23vw;
        }
        
}

#myCarousel2 .carousel-inner {
    padding: 1em;
}

#myCarousel2 .card {
    margin: 0.5 em;
}