.carousel-item {
    height: 720px;
    background: #000;
    color: white;
    position: relative;
    z-index: -1;
}

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    z-index: -1;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    z-index: -1;
}

#myCarousel {
    border-bottom: purple 10px solid;
}

