#myCarousel .carousel-item {
    height: 720px;
    background: #000;
    color: white;
    position: relative;
    /* z-index: -1; */
}

#myCarousel .container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    z-index: -1;
}

#myCarousel .overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    z-index: -1;
}

#myCarousel {
    border-bottom: purple 10px solid;
}

#myCarousel2 {
    width: 620px;
    height: 320px;
}

/* #myCarousel2 .carousel-item {
    width: 620px;
    height: 320px;
    background: #000;
    color: white;
    position: relative;
    z-index: -1;
} */

/* #myCarousel2 .container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    z-index: -1;
} */

/* #myCarousel2 .overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    z-index: -1;
} */