/* .header-wrapper {
    max-width: 1920px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100
} */

.header-container {
    display: flex;
    max-width: 1920px;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: 80px;
    padding-top: 30px;
    z-index: 100000000;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.6s;
    padding: 0 300px 0 200px;
}

.header-container .nav{
    margin-left: 700px;
    text-align: center;
}

.sticky {
    /* padding: 5px 100px; */
    background-color: #000;
    opacity: 0.8;
    transition: 0.6s;
    /* overflow: hidden; */
    z-index: 1000000;
}




.header-logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-right: 500px; */
    z-index: 1;
}

.header-logo .logo {
    width: 80px;
    height: 80px;
    margin-right: 30px;
    z-index: 1;
}

.nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
    z-index: 1;
}

.nav ul li {
    /* border: 1px solid black; */
    
    list-style: none;
    padding: 7px 10px 7px 10px;
}

.nav ul li:hover {
    /* outline: 1px solid orange; */
    /* border-radius: 5px; */
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    opacity: 0.5;
}

.header-container a {
    text-decoration: none;
    color: white;
    z-index: 1;
    font-weight: 600;
}

/* Site Title */

.site-title {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    margin-left: 600px;
    font-size: 26px;
    font-family: serif;
    z-index: 1;
}

.site-title h1 {
    font-weight: 100;
    font-style: italic;
    letter-spacing: 10px;
    line-height: 130px;
    z-index: 1;
}

.site-title h1:nth-child(2) {
    align-self: flex-end;
    margin-right: 200px;
    z-index: 1;
}


.site-title h1:nth-child(3) {
    font-style: normal;
    font-weight: bold;
    font-size: 106px;
    z-index: 1;

}

.site-title h1 {
    position: relative;
    color: gold;
}

.title-first-row::after {
    content: 'FIND YOUR';
    color: purple;
    position: absolute;
    display: flex;
    top: 0;
    left: -6px;
    z-index: -1;
}

.title-second-row::after {
    content: 'BEST FRIEND';
    color: purple;
    position: absolute;
    display: flex;
    top: 0;
    left: -6px;
    z-index: -1;
}

.title-third-row::after {
    content: 'TODAY!';
    color: purple;
    position: absolute;
    display: flex;
    top: 0;
    left: -7px;
    z-index: -1;
}