@import url('https: //fonts.google.com/specimen/Poppins');
@import url('./reset.css');
@import url('./typography.css');

body {
    font-family: 'Poppins', sans-serif;
}

main {
    
}


.header-wrapper {
    background-image: url('../images/header.png');
    background-position: center;
    height: 720px;
    width: 1920px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1920px;
    padding: 0 300px 0 300px;
    height: 100px;
    background: rgba(255, 255, 255, 0.3) ;
    
}

.header-logo {
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}