@import url('https: //fonts.google.com/specimen/Poppins');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import url('./reset.css');
@import url('./typography.css');
@import url('./header.css');
@import url('./carousel.css');
@import url('./selection-cards.css');
@import url('./section2.css');
@import url('./section3.css');
@import url('./section4.css');
@import url('./section5.css');
@import url('./section6.css');


body {
    font-family: 'Poppins', sans-serif;
}

main {
    max-width: 1920px;
}




.recently-viewed {
    text-align: center;
    font-size: 18px;
        color: rgb(192, 3, 192);
        letter-spacing: 1px;
        font-weight: 800;
}


.header-scrolled {
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.5s;
}