@import url('https: //fonts.google.com/specimen/Poppins');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import url('./reset.css');
@import url('./typography.css');
@import url('./header.css');
@import url('./carousel.css');
@import url('./selection-cards.css');
@import url('./section2.css');
@import url('./section3.css');
@import url('./section4.css');
@import url('./section5.css');
@import url('./section6.css');
@import url('./section7.css');


body {
    font-family: 'Poppins', sans-serif;
}

main {
    max-width: 1920px;
}




.recently-viewed {
    text-align: center;
    font-size: 18px;
        color: rgb(192, 3, 192);
        letter-spacing: 1px;
        font-weight: 800;
}


.header-scrolled {
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.5s;
}

.section-logo {
    max-width: 100%;
    height: 40px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.section-logo .logo {
    width: 40px;
    height: 40px;
}

.section-logo h1 {
    font-size: 25px;
    color: white;
    background-color: rgb(37, 37, 37);
    margin-top: 5px;
    padding: 20px 10px 20px 10px;
    border-radius: 20px;
}

.section-logo p {
    color: white;
    font-size: 16px;
    margin-top: 40px;
    
}