@import url('https: //fonts.google.com/specimen/Poppins');
@import url('./reset.css');
@import url('./typography.css');

body {
    font-family: 'Poppins', sans-serif;
}

main {
    
}


.header-wrapper {
    background-image: url('../images/header.png');
    background-position: center;
    height: 720px;
    width: 1920px;
}

.header-wrapper a {
    text-decoration: none;
    color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1920px;
    padding: 0 300px 0 300px;
    height: 80px;
    background: rgba(41, 40, 40, 0.3) ;
    
}

.header-logo {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-logo .logo {
    width: 80px;
    height: 80px;
    margin-right: 30px;
}

.nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav ul li {
    margin-right: 30px;
}

.site-title {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 600px;
    font-size: 26px;
    font-family: serif;
}

.site-title h1 {
    font-weight: 100;
    font-style: italic;
}

.site-title h1:nth-child(3) {
    font-style: normal;
    font-weight: bold;
    font-size: 86px;
}





