@import url('https: //fonts.google.com/specimen/Poppins');
@import url('./reset.css');
@import url('./typography.css');
@import url('./carousel.css');

body {
    font-family: 'Poppins', sans-serif;
}

main {}

/* .header-wrapper {
    background-image: url('../images/header.png');
    background-position: center;
    height: 720px;
    max-width: 1920px;
    position: relative;
    z-index: -20;
} */

/* .header-wrapper::after {
    content: '';
    width: 1920px;
    height: 720px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} */



.header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: 80px;
    /* background: rgba(41, 40, 40, 1); */
    z-index: 1;
    
}

.header-container a {
    text-decoration: none;
    color: white;
    z-index: 1;
}

.header-logo {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 500px;
    z-index: 1;
}

.header-logo .logo {
    width: 80px;
    height: 80px;
    margin-right: 30px;
    z-index: 1;
}

.nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

.nav ul li {
    margin-right: 30px;
    list-style: none;
}

.site-title {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-left: 600px;
    font-size: 26px;
    font-family: serif;
    z-index: 1;
}

.site-title h1 {
    font-weight: 100;
    font-style: italic;
    letter-spacing: 10px;
    line-height: 130px;
    z-index: 1;
}

.site-title h1:nth-child(2) {
    align-self: flex-end;
    margin-right: 200px;
    z-index: 1;
}


.site-title h1:nth-child(3) {
    font-style: normal;
    font-weight: bold;
    font-size: 106px;
    z-index: 1;
    
}

.site-title h1 {
    position: relative;
    color: gold;
}

.title-first-row::after {
    content: 'FIND YOUR';
    color: purple;
    position: absolute;
    display: flex;
    top: 0;
    left: -6px;
    z-index: -1;
}

.title-second-row::after {
    content: 'BEST FRIEND';
    color: purple;
    position: absolute;
    display: flex;
    top: 0;
    left: -6px;
    z-index: -1;
}

.title-third-row::after {
    content: 'TODAY!';
        color: purple;
        position: absolute;
        display: flex;
        top: 0;
        left: -7px;
        z-index: -1;
}