.section-two-wrapper {
    height: 720px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
    z-index: 1;
}

.section-two-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/paws.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: -100;

}

.pets-available {
    text-align: center;
   margin-bottom: 30px;
  
}

.pets-available h2 {
    font-size: 36px;
    color: rgb(192, 3, 192);
    letter-spacing: 1px;
    font-weight: 800;
}