.section-five {
    max-width: 100%;
    height: 600px;
    /* background-color: aqua; */
    position: relative;
    margin-top: 100px;
    background-color: rgb(248, 245, 245);
}

.section-five-back{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    box-shadow: 2px 6px 18px 0 rgba(22, 22, 26, 0.22);
}