.section-five {
    max-width: 100%;
    height: 600px;
    /* background-color: aqua; */
    position: relative;
    margin-top: 100px;
    background-color: rgb(248, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section-five-back{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    box-shadow: 2px 6px 18px 0 rgba(22, 22, 26, 0.22);
}

.section-five-articles-wrapper {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    gap: 50px;

}

.section-five-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 1px solid black;
    padding: 30px;
    text-align: center;
}

.section-five-title {
    color: purple;
    /* text-shadow: 8px 3px rgba(22, 22, 26, 0.3); */
    font-weight: 800;
}