.section-three {
    width: 100%;
    height: 300px;
    margin-top: 40px;
}

.section-three .cards-wrapper {
    display: flex;
    justify-content: center;
}

.section-three .card {
    margin: 0 .5em;
    /* width: calc(100%/4); */
    width: 200px;
    height: 250px;
    
    border-radius: 15px;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    z-index: 1;
}

.section-three .card:hover {
    outline: 3px purple solid;
    border-radius: 15px;
}

.section-three .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-three .card-body a {
    font-size: 20px;
    background-color: rgb(163, 2, 163);
    padding-left: 20px;
    padding-right: 20px;
}

.section-three .image-wrapper {
    /* height: 22vw; */
    display: flex;
    position: relative;
    padding: 10px;
    width: 100%;
    height: 200px;
    margin: 0 auto;
}

.section-three .image-wrapper .like-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 20px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 254, 254);
    border-radius: 50%;
    text-decoration: none;
    opacity: 0.7;
    z-index: 1;
}

.section-three .image-wrapper .like-btn:hover {
    background-color: rgb(220, 223, 223);
}

/* @media screen and (max-width: 576px) {
    .section-three .card:not(:first-child) {
        display: none;
    }
} */

.section-three .image-wrapper img {
    width: 100%;
    max-height: 100%;
    border: 1px solid rgb(209, 201, 201);
    border-radius: 15px;
    object-fit: cover;
    z-index: 1;
}

.section-three .extra-card{
    background-color: purple;
    border-radius: 15px;
}

.section-three .extra-card a {
    text-decoration: none;
    font-size: 80px;
    color: white
}

.section-three .extra-card p {
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 1.8;
    font-weight: bold;
}

.section-three .extra-card .image-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.section-three .gallery-link:hover {
    cursor: pointer;
    outline: 1px solid white;
}