.section-seven {
    width: 100%;
    height: 350px;
    position: relative;
    /* border-bottom: 3px ridge purple  ; */
    /* opacity: 0.4;     */
}

.section-seven-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(.././images/donation-back2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1000;
    opacity: 0.3;
}

.section-seven-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    gap: 30px;
}

.section-seven-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: calc(100%/4); */
    
}

.section-seven-link:hover {
    background-color: rgba(32, 178, 170, 0.7);
    scale: 1.1;
    transition: 0.6s;
}

.section-seven-link a {
    display: flex;
    height: 200px;
    width: 300px;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    /* background-color: rgba(32, 178, 170, 0.7); */
    padding: 20px;
    

   
}

.section-seven-link a .seven-link-title {
    color: purple;
    font-size: 20px;
    font-weight: 800;
}

.section-seven-link a i {
    font-size: 26px;
    color: white;
    background-color: purple;
    padding: 15px;
    border-radius: 50%;
}

.section-seven-link a .seven-link-text {
    color: black;
    font-size: 16px;
    font-weight: 600;
}