.section-logo {
    max-width: 100%;
    height: 40px;
    background-color: rgb(145, 125, 125);
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 30px; */
}

.section-logo .logo {
    width: 50px;
    height: 50px;

}

.section-logo h1 {
    font-size: 15px;
    color: white;
    background-color: rgb(37, 37, 37);
    margin-top: 7px;
    padding: 2px 20px 5px 20px;
    margin-right: 30px;
    margin-left: 10px;
    /* border-radius: 50px; */
}

.section-logo p {
    color: white;
    font-size: 16px;
    margin-top: 40px;
    font-weight: 600;

}

.section-logo .sign-in {
    margin-left: 30px;
    margin-right: 10px;
}

.section-logo .sign-up,
.section-logo .sign-in {
    text-decoration: none;
    color: white;
    padding: 5px 20px 5px 20px;
    background-color: purple;
    text-transform: uppercase;
    border-radius: 50px;
    font-size: 12px;
}