.section-four {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.section-four article {
    width: calc(50%/2);
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(243, 241, 241);
    z-index: 1;
    padding: 30px 40px 30px 40px;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border-radius: 15px;
}

.section-four .adoption-article-image {
    max-width: 100%;
    height: 250px;
    display: block;
}

.section-four .adoption-article-image img {
    width: 100%;
    height: 250px;
    display: block;
    object-fit: cover;
    /* outline: 15px solid white; */
    /* border-top-left-radius: 15px;
    border-top-right-radius: 15px; */
    border-radius: 15px;  
}

.section-four .adoption-article-avatar {
    width: 120px;
    height: 100px;
}

.section-four .adoption-article-avatar img {
    width: 100%;
    height: 100px;
    /* padding: 10px; */
    outline: 6px white solid;
    display: block;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -50px;
}

/* .section-four .adoption-article:hover{
    border-top-right-radius: 10%;
    transition: 1s;
} */

.adoption-article h3 {
    font-weight: 100;
    font-size: 26px;
    margin-bottom: 20px;
}

.adoption-article p {
    font-weight: 100;
    font-size: 16px;
}

.adoption-article-read-more a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    background-color: purple;
    padding: 15px 20px 15px 20px;
    border-radius: 3px;
}

.adoption-article-read-more a:hover{
    background-color: aqua;
    color: purple;
   
}