.liked-animals{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    /* margin-bottom: 200px; */
    margin-top: -200px;
}

.liked-animals .liked-title h4{
    color: rgb(165, 1, 165);
    font-size: 24px;
    margin-bottom: 30px;
}

#myCarousel5 .carousel-inner {
    padding: 1em;

}

#myCarousel5 {
    width: 1200px;
    height: 200px;
    display: block;
    margin-top: -20px;
    z-index: 10;
   

}

#myCarousel5 .carousel-control-prev,
#myCarousel5 .carousel-control-next {
    background-color: #000000;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 100%;
    transform: translateY(-50%);
    opacity: 0.2;
}

#myCarousel5 .carousel-control-prev span,
#myCarousel5 .carousel-control-next span {
    width: 1.5rem;
    height: 1.5rem;
}

#myCarousel5 .carousel-control-prev:hover,
#myCarousel5 .carousel-control-next:hover {
    opacity: 0.7;
}

@media screen and (min-width: 578px) {

    #myCarousel5 .cards-wrapper {
        display: flex;
    
    }
}

/* .cards-second-wrapper {
    display: flex;
    width: 100%;
    height: auto;
    
} */

#myCarousel5 {
    width: 1200px;
    height: 200px;
    display: block;
    margin-top: -20px;
}

#myCarousel5 .card {
    margin: 0 .5em;
    width: calc(100%/4);
    border: none;
    border-radius: 0;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

#myCarousel5 .card:hover {
    /* outline: 3px purple solid;
    border-radius: 15px; */
    background-color: rgb(237, 233, 247);
    border-radius: 15px;
    scale: 1.1;
    transition: 0.8s;
    /* cursor: pointer; */

}

#myCarousel5 .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myCarousel5 .card-body a {
    font-size: 20px;
    background-color: rgb(163, 2, 163);
    padding-left: 20px;
    padding-right: 20px;
}

#myCarousel5 .image-wrapper {
    /* height: 22vw; */
    display: flex;
    position: relative;
    padding: 10px;
    width: 100%;
    height: 200px;
    margin: 0 auto;
}

#myCarousel5 .image-wrapper .like-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 20px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 254, 254);
    border-radius: 50%;
    text-decoration: none;
    opacity: 0.7;
}

#myCarousel5 .image-wrapper .like-btn:hover {
    background-color: rgb(162, 163, 163);
}

@media screen and (max-width: 576px) {
    #myCarousel5 .card:not(:first-child) {
        display: none;
    }
}

#myCarousel5 .image-wrapper img {
    width: 100%;
    max-height: 100%;
    border: 1px solid rgb(209, 201, 201);
    border-radius: 15px;
    object-fit: cover;
}

#myCarousel5 .card-body .btn:hover {
    background-color: aqua;
    color: purple;
}

.like-btn-wrappper:hover {
    cursor: pointer;
}

.likes-alert {
    display: flex;
    height: 30px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: 20px;
    margin-bottom: 30px;

}

.likes-alert p:first-child {
    background-color: coral;
    padding-bottom: 0;
    padding: 10px 20px;
}

.likes-alert p:last-child {
    padding-bottom: 0;
}

.likes-alert p:last-child span {
    padding: 10px 20px;
    color: white;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(86, 17, 120, 1) 35%, rgba(0, 212, 255, 1) 100%);
}