
<!-- Modal -->
<!-- <div class="modal" tabindex="-1" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" (click)="closeLogin()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeLogin()"  data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div> -->

<div class="login-form" #loginform>
    <div class="form">
        <div class="text">
            <h1>Login</h1>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <input type="email" placeholder="Email ID" formControlName="email">
            <input type="password" placeholder="Password" formControlName="password">
            <input type="submit" value="Login">
        </form>
        
    </div>
</div>