


<div class="login-form" id="login-form" #loginform>
    <div class="close-btn-wrapper">
        <a class="close-btn" (click)="this.service.toggleLoginForm()">X</a>
    </div>
    <div class="form">
        <div class="text">
            <img src="../../../../assets/login.png" alt="">
            <!-- <h1>Login</h1> -->
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="error-wrapper">
               
                <input type="email" placeholder="*Email ID" formControlName="email">
                <div class="error-msg" *ngIf="form.get('email')?.touched && submitted && form.get('email')?.errors?.['required']">
                    *Email is required!
                </div>
                <div class="error-msg" *ngIf="form.get('email')?.touched && submitted && form.get('email')?.errors?.['pattern']">
                    *Email is not valid!
                </div>
            </div>
            {{form.get('email')?.errors?.['email']}}
            <div class="error-wrapper">
                <input type="password" placeholder="*Password" formControlName="password">
                <div class="error-msg" *ngIf="form.get('password')?.touched && submitted && form.get('password')?.errors?.['required']">
                    *Password is required!
                </div>
            </div>
                <label class="loginErr" *ngIf="submitted && loginError" for=""><i class="fa-solid fa-triangle-exclamation"></i> Wrong password or user name!</label>
                <label class="loginErr" *ngIf="submitted && !loginError" for=""><i class="fa-solid fa-circle-check"></i> Login Successful! Welcome, back!</label>
            <input type="submit" value="Login" id="login"> 
        </form>
        <!-- <button type="button" class="btn btn-secondary" (click)="this.service.toggleLoginForm()" data-bs-dismiss="modal">Close</button> -->
    </div>
    <p class="signup">Don't have an account? <span><a (click)="service.toggleRegisterForm()">Sign up</a></span></p>
</div>

