<div class="gallery-header">
    <app-header></app-header>
</div>

<div class="gallery-bgnd">
    <img class="dogs-bgnd" *ngIf="choosedAnimal == 'Dogs'" src="../../../assets/gallery-dogs-bgnd.jpg" alt="dogs">
    <img class="cats-bgnd" *ngIf="choosedAnimal =='Cats'" src="../../../assets/gallery-cats-bgnd.jpg" alt="cats">
</div>

<div class="gallery-pet-search">
    <form class="gallery-search-form">
        <div>
            <label for="animalGender">Gender</label>
            <select name="animalGender" id="animalGender">
                <option value="any" selected>Any</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <div>
            <label for="animalSize">Size</label>
            <select name="animalSize" id="animalSize">
                <option value="any" selected>Any</option>
                <option value="Small">Small</option>
                <option value="Medium">Medium</option>
                <option value="Large">Large</option>
            </select>

        </div>
        <div>
            <label for="animalAge">Color</label>
            <select name="animalAge" id="animalAge">
                <option value="any" selected>Any</option>
                <option value="Under 6 months">Under 6 months</option>
                <option value="6 months - 3 years">6 months - 3 years</option>
                <option value="Over 3 years">Over 3 years</option>
            </select>

        </div>

        <div>
            <button class="search-btn" type="submit">Search</button>
        </div>
    </form>
</div>

<div class="gallery-cards">
    <div class="gallery-cards-wrapper">
        <div *ngFor="let animal of animalsData" class="card">
            <div class="image-wrapper">
                <img src="../../../assets/{{choosedAnimal}}/{{animal.Name}}.jpeg" alt="...">
                <a href="#" class="like-btn"><i class="fa-regular fa-heart"></i></a>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{animal.Name}}</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make
                                    up
                                    the bulk of the card's
                                    content.</p>
                                <a href="#" class="btn btn-primary">Details</a> -->
            </div>
            <div class="card-price">
                <p>Fee: <span>{{animal.Price}}</span></p>
            </div>
        </div>
    </div>
</div>

<app-donation-section></app-donation-section>
<app-footer></app-footer>

<!-- <button type="submit" (click)="onSubmit()">Click me</button>

<input type="file" (change)="upload($event)">

<img src="../../../assets/Dogs/Bambi.jpeg" alt="">
<img src="../../../assets/Cats/Cupid.jpeg" alt=""> -->