<div class="gallery-header">
    <app-header></app-header>
</div>

<div class="gallery-bgnd">
    <img src="../../../assets/gallery-bgnd.jpg" alt="">
</div>

<div class="gallery-pet-search">
    <form>
        <div>
            <label for="animalGender">Gender</label>
            <select name="animalGender" id="animalGender">
                <option value="any" selected></option>
                <option value="Male"></option>
                <option value="Female"></option>
            </select>
        </div>
        <div>
            <label for="animalSize">Size</label>
            <select name="animalSize" id="animalSize">
                <option value="any" selected></option>
                <option value="Small"></option>
                <option value="Medium"></option>
                <option value="Large"></option>
            </select>

        </div>
        <div>
            <label for="animalAge">Color</label>
            <select name="animalAge" id="animalAge">
                <option value="any" selected></option>
                <option value="Under 6 months" selected></option>
                <option value="6 months - 3 years" selected></option>
                <option value="Over 3 years" selected></option>
            </select>

        </div>

        <div>
            <button class="search-btn" type="submit">Search</button>
        </div>
    </form>



</div>
<!-- <app-header-carousel></app-header-carousel> -->
<!-- <app-header-cards></app-header-cards> -->
<!-- <app-available-pets></app-available-pets> -->
<app-donation-section></app-donation-section>
<app-footer></app-footer>

<!-- <button type="submit" (click)="onSubmit()">Click me</button>

<input type="file" (change)="upload($event)">

<img src="../../../assets/Dogs/Bambi.jpeg" alt="">
<img src="../../../assets/Cats/Cupid.jpeg" alt=""> -->