<div class="footer-container-wrapper">
    <div class="footer-container">
        <div class="footer-links">
            <h3>Resources</h3>
            <a href="#">FAQs</a>
            <a href="#">Mobile App Download</a>
            <a href="#">Partnerships</a>
            <a href="#">News Center</a>
            <a href="#">Put HappyTails On Your Site</a>
            <a href="#">For Developers</a>
        </div>
        <div class="footer-links">
            <h3>Adopt or get involved</h3>
            <a href="#">All Adopt or Get Involved</a>
            <a href="#">Adopting Pets</a>
            <a href="#">Animal Shelters & Rescues</a>
            <a href="#">Other type of Pets</a>
        </div>
        <div class="footer-links">
            <h3>About dogs & puppies</h3>
            <a href="#">All About Dogs & Puppies</a>
            <a href="#">Dog Adoption</a>
            <a href="#">Dog Breeds</a>
            <a href="#">Feeding Your Dog</a>
            <a href="#">Dog Behavior</a>
            <a href="#">Dog Health & Wellness</a>
            <a href="#">Dog Training</a>
            <a href="#">Other Dog Information</a>
        </div>
        <div class="footer-links">
            <h3>About cats & kittens</h3>
            <a href="#">All About Cats & Kittens</a>
            <a href="#">Cat Adoption</a>
            <a href="#">Cat Breeds</a>
            <a href="#">Feeding Your Cat</a>
            <a href="#">Cat Behavior</a>
            <a href="#">Cat Health & Wellness</a>
            <a href="#">Cat Training</a>
            <a href="#">Other Cat Information</a>
        </div>

        <div class="contact-us">
            <div class="contacts">
                <span><i class="fa-solid fa-house"></i></span>
                <p><span>Binghamton, New York</span><br>4343 Hinkle Deegan Lake Road</p>
            </div>
            <div class="contacts">
                <span><i class="fa-solid fa-phone"></i></span>
                <p><span>00 (953) 9865 562</span><br>Mon to Fri 9am to 6 pm</p>
            </div>
            <div class="contacts">
                <span><i class="fa-solid fa-envelope"></i></span>
                <p><span>support HappyTails.com</span><br>Send us your query anytime!</p>
            </div>
        </div>
    </div>
    <div class="usefull-links">
        <a href="#">Shelter & Rescue Registration</a>
        <a href="#">Sitemap</a>
        <a href="#">Terms of Service</a>
        <a href="#">Notice at Collection</a>
        <a href="#">Privacy Police</a>
        <a href="#">Do Not Sell Or Share My Personal Information</a>
        <a href="#">Accessibility</a>
        <a href="#">Cookie Policy</a>
    </div>
</div>

<div class="footer-copyright">
    <p>Copyright ©2024 All rights reserved | This template is made by Our Firm Name</p>
    <div class="media-links">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
        <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
    </div>
</div>