<div class="selection-cards-container">
    <ul class="selection-cards">
        <li class="selection-card">
            <a routerLink="/gallery" data-bs-toggle="tooltip" title="Search dogs">
                <i class="fa-solid fa-dog"></i>
                <p>Dogs</p>
            </a>
        </li>
        <li class="selection-card">
            <a href="#">
                <i class="fa-solid fa-cat"></i>
                <p>Cats</p>
            </a>
        </li>
        <li class="selection-card">
            <a href="#">
                <i class="fa-solid fa-clipboard-question"></i>
                <p>Lost & Found</p>
            </a>
        </li>
    </ul>
</div>