.selection-cards-container {
    height: 160px;
    background-color: white;
    margin-top: -90px;
    z-index: 1;
    /* border: 1px solid black; */

}

.selection-cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    z-index: 1;
}

.selection-card {
    width: 170px;
    height: 160px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid purple;
    text-align: center;
    /* padding: 30px; */
    z-index: 20;
    box-shadow: 3px 5px 12px 2px rgba(2, 0, 36, 1);
}

.selection-cards li {
    list-style: none;
}

.selection-cards li:hover {
    outline: 3px solid purple;
    background-color: lightblue;
}

.selection-cards i {
    color: purple;
    font-size: 60px;
    margin-bottom: 20px;
}

.selection-cards a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    /* border: 1px black solid; */
    padding: 30px;
    /* z-index: 100; */

}

.selection-cards a p {
    font-size: 16px;
    font-weight: 600;
}