/* @import '../home/available-pets/available-pets.component.css';
@import '../home/donation-section/donation-section.component.css';
@import '../home/footer/footer.component.css'; */




.header-bgnd {
    width: 1920px;
    height: 400px;
    position: relative;
}


.header-bgnd img {
    display: block;
    border-top: 80px black solid;
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-bottom: 10px purple solid;
    opacity: 0.7;

}

.header-bgnd::after {
    content: '';
    width: 1920px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.2;
    z-index: 10;
}

.section-bgnd {
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: -100;
}

.section-bgnd img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    object-fit: cover;
    z-index: -1;
    opacity: 0.2;

}

.details-section {
    width: 100%;
    height: 1200px;
    display: block;
    margin-bottom: 200px;
}

.details-section .animal-name {
    width: 100%;
    font-size: 40px;
    height: 30px;
    align-self: flex-start;
    text-align: center;
    margin: 0 auto;
    z-index: 10;
    padding-bottom: 0;
    /* margin-bottom: -40px; */
    padding-top: 50px;
    color: rgb(168, 1, 168);
}

.details-content {
    width: 60%;
    height: 1000px;
    margin: 0 auto;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    z-index: 10;
    /* margin-bottom: 200px; */
}


.details-content .details-wrapper {
    width: calc(100%/2);
    height: 800px;
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}



.details-content .details-wrapper .animal-details {
    width: 100%;
    height: calc(100%/2);
    /* border: 1px solid black; */
    /* background-color: green; */
    z-index: 10;
    display: flex;
    justify-content: cente;
    align-items: center;

}

.details-content .details-wrapper .animal-details .animal-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.details-content .details-wrapper .animal-details .animal-data h3 {
    text-align: center;
    padding-top: 20px;
    font-size: 28px;
    height: 20%;
    text-decoration: underline;
}



.details-content .details-wrapper .animal-details .animal-data .data-container p {
    padding-bottom: 0;
    padding-left: 20px;
    font-weight: 600;
    font-size: 16px;
}

.details-content .details-wrapper .animal-details .animal-data .data-container p span {
    font-style: italic;
    font-weight: 500;
}

.details-content .details-wrapper .animal-details .animal-img-wrapper {
    width: calc(100%/2);
    /* border: 1px solid black; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid;
}

.details-content .details-wrapper .animal-details .animal-img-wrapper .animal-img {
    display: block;
    width: 100%;
    height: 80%;
    border: 10px solid white;
    overflow: hidden;

}

.details-content .details-wrapper .animal-details .animal-img-wrapper p {
    width: 100%;
    height: 20%;
    padding: 0;
    margin: 0;
}

.details-content .details-wrapper .animal-details .animal-img-wrapper .animal-img .animal-pic {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* border: 1px solid black; */
}

.details-content .details-wrapper .animal-details .animal-img-wrapper p {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.details-content .details-wrapper .animal-description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;


}

.details-content .details-wrapper .animal-description .description {
    width: 100%;
    height: 60%;
    border-bottom: 2px solid black;

    /* font-size: 20px; */
    /* overflow: scroll; */
}

.details-content .details-wrapper .animal-description .description h3 {
    /* text-align: center; */
    text-decoration: underline;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.details-content .details-wrapper .animal-description .description p {
    font-size: 16px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    text-indent: 40px;
}

.details-content .details-wrapper .animal-description .usefull-links {
    display: flex;
    flex-direction: column;
}

.details-content .details-wrapper .animal-description .usefull-links h3 {
    padding-left: 20px;
    text-decoration: underline;
    padding-top: 10px;
}

.details-content .details-wrapper .animal-description .usefull-links ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 10px;
    align-items: center;
    gap: 20px;
    z-index: 10;
}

.details-content .details-wrapper .animal-description .usefull-links ul li {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    list-style: none;
    border-radius: 5px;
    border: 1px solid black;
    z-index: 10;
    /* margin-left: 20px; */
}

.details-content .details-wrapper .animal-description .usefull-links ul li:hover {
    cursor: pointer;
    outline: 3px solid rgb(102, 102, 102);

}

.details-content .details-wrapper .animal-description .usefull-links ul li:first-child {
    padding-top: 40px;
}

.details-content .details-wrapper .animal-description .usefull-links ul li:nth-child(2) {
    padding-top: 25px;
}

.details-content .details-wrapper .animal-description .usefull-links ul li:last-child {
    background-color: black;
    opacity: 0.5;
    border-radius: 5px;
}

.details-content .details-wrapper .animal-description .usefull-links ul li:last-child:hover {
    outline: 4px solid blue;
}

.details-content .details-wrapper .animal-description .usefull-links ul li a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    /* margin-left: 20px; */
}

.details-content .details-wrapper .animal-description .usefull-links ul li a img {
    display: block;
    width: 100%;
    height: auto;
}

.details-content .details-wrapper .animal-details .animal-data {
    width: calc(100%/2);
    /* border: 1px solid black; */
    height: 100%;
}

.details-content .details-wrapper .animal-details .animal-data .adopt-link{
    
}

.details-content .details-wrapper .animal-description {
    width: 100%;
    height: calc(100%/2);
    /* border: 1px solid black; */
    border-top: 2px solid black;
    z-index: 10;
    /* background-color: green; */
}

.details-content .contact-wrapper {
    width: calc(100%/2);
    height: 800px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    justify-content: space-evenly;
    /* align-items: center; */
    z-index: 10;
}

.contact-wrapper .logo-img {
    width: 150px;
    height: 150px;
    display: block;
    align-self: center;
}

.contact-wrapper .logo-img img {
    display: block;
    width: 100%;
    height: 100%;
}

.contact-wrapper .site-title {
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.3);
    align-self: center;
}

.contact-wrapper .site-title h2 {
    padding: 15px 30px;
    color: purple;
    font-size: 40px;
    font-weight: 600;
    /* text-decoration: underline; */
}

.contact-wrapper .item-list>ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 40px;
}

.contact-wrapper .item-list>ul li {
    list-style: none;
    width: 100%;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    opacity: 0.7;
}

.contact-wrapper .item-list>ul li span:not(.location) {
    width: 100%;
    /* padding-right: 30px; */
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.contact-wrapper .item-list>ul li span.location {
    border-bottom: 1px solid lightgray;
    margin-left: 30px;
    padding-bottom: 20px;
    /* padding-left: 30px; */
    font-weight: 500;
}

.contact-wrapper .item-list>ul li i {
    margin-right: 20px;
    border-bottom: none;
}

.contact-wrapper .day-hours {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.contact-wrapper .day-hours li {
    list-style: none;
}

.contact-wrapper .more-about {
    align-self: center;
    padding-bottom: 20px;

}

.contact-wrapper .more-about a {
    font-weight: 600;
    border: 2px solid black;
    padding: 12px 20px;
    display: block;
    border-radius: 5px;
}

.contact-wrapper .more-about a:hover {
    cursor: pointer;
    background-color: rgb(163, 163, 163);
}

.contact-wrapper .more-about a:active {
    border: 2px solid white;
}