<app-header></app-header>

<section class="details-section">
    <div class="header-bgnd">
        <img [src]="animalType =='Dog' ?  '../../../assets/gallery-dogs-bgnd.jpg' : '../../../assets/gallery-cats-bgnd.jpg'"
            alt="">
    </div>
    <div class="section-bgnd">
        <img src="../../../assets/paws.jpg" alt="">
    </div>
    <h2 class="animal-name">Here are the details about dog Stryker!</h2>
    <div class="details-content">
        <div class="details-wrapper">
            <div class="animal-details">
                <div class="animal-img-wrapper">
                    <div class="animal-img">
                        <img class="animal-pic" src="../../../assets/dogs/Stryker.jpeg" alt="">
                    </div>
                    <p>Animal Name</p>
                </div>
                <div class="animal-data">
                    <h3>Details:</h3>
                    <div class="data-container">
                        <p>Gender: </p>
                        <p>Age: </p>
                        <p>Primary Color: </p>
                        <p>Secondary Color: </p>
                        <p>Size: </p>
                        <p>Weight: </p>
                    </div>
                </div>
            </div>
            <div class="animal-description">
                <div class="description">
                    <h3>Description:</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum magni suscipit vitae eaque quam
                        eveniet doloribus itaque reiciendis repudiandae consectetur! Laborum possimus, expedita ea vero
                        tempore repellat magnam optio? Corporis odio repellendus iure. Nulla quisquam sunt possimus
                        numquam
                        velit fugiat.
                    </p>
                </div>

                <div class="usefull-links">
                    <h3>Usefull Links:</h3>
                    <ul>
                        <li><a href="https://www.purina.com/"><img src="../../../assets/logo/purina_logo.jpg"
                                    alt=""></a></li>
                        <li><a
                                href="https://veterinarymedicalcenterwoodlandhills.com/?gad_source=1&gclid=Cj0KCQjwq86wBhDiARIsAJhuphn93W8JQL9Foyk3SkTtx5nts6C71epsazKl6uRhK7-k6cV8JUQzCscaAtt-EALw_wcB"><img
                                    src="../../../assets/logo/vet-med-center-new-logo.png" alt=""></a></li>
                        <li><a href="https://www.petshop.co.uk/"><img src="../../../assets/logo/petshop-2019-logo.png"
                                    alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="contact-wrapper">
            <div class="logo-img"><img src="../../../assets/logo.png" alt=""></div>
            <div class="site-title"><h2>HappyTails</h2></div>
            <div class="item-list">
               <ul>
                <li><i class="fas fa-map-marker-alt"></i>Location Address<br><span>Somewehere In The World</span></li>
                <li><i class="fas fa-envelope"></i><a href="mailto:happytails@gmail.com"></a></li>
                <li><i class="fas fa-phone-alt"></i>(020)355-555-555</li>
                <li><i class="fas fa-clock"></i>Weekly hours 08:00-20:00</li>
               </ul>
                <div class="day-hours">
                    <ul>
                        <li>Monday</li>
                        <li>Tuesday</li>
                        <li>Wednesday</li>
                        <li>Thursday</li>
                        <li>Friday</li>
                        <li>Saturday</li>
                        <li>Sunday</li>
                    </ul>
                    <ul>
                        <li>08:00-20:00</li>
                        <li>08:00-20:00</li>
                        <li>08:00-20:00</li>
                        <li>08:00-20:00</li>
                        <li>08:00-20:00</li>
                        <li>08:00-20:00</li>
                        <li>08:00-20:00</li>
                    </ul>
                </div>
            </div>
            <div><a>MORE ABOUT US</a></div>
        </div>
    </div>

</section>