<header class="header-container">
    <div class="header-logo">
        <a href="/home">
            <img class="logo" src="../assets/logo.png" alt="">
        </a>
        <h1><a href="/home">HappyTails</a></h1>
    </div>

    <nav class="nav">
        <ul>
            <li><a href="/home">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">DOGS</a></li>
            <li><a href="#">CATS</a></li>
            <li><a routerLink="/gallery" [queryParams]="{animalChoice: dogs}">GALLERY</a></li>
            <li><a href="#">CONTACT</a></li>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/register">REGISTER</a></li>
            <li><a href="#">LOGOUT</a></li>
        </ul>
    </nav>
</header>

<!-----Header carousel--->

