.imgProfileHolder {
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    overflow: hidden;
    padding-bottom: 0;
    margin-bottom: -6px;
}

.imgProfileHolder img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.greetings {
    font-size: 14px;
}

.myAcc {
    font-size: 12px;
}