<header class="header-container">
    <div class="header-logo">
        <a routerLink="/home">
            <img class="logo" src="../assets/logo.png" alt="">
        </a>
        <h1><a routerLink="/home">HappyTails</a></h1>
    </div>

    <nav class="nav">
        <ul>
            <li><a routerLink="/home">HOME</a></li>
            <!-- <li ><a>WELCOME</a></li>
            <li ><a>ABOUT</a></li> -->
            <li><a routerLink="/gallery" [queryParams]="{animalChoice: dogs}">DOGS <span class="span-gallery">GALLERY</span></a></li>
            <li><a routerLink="/gallery" [queryParams]="{animalChoice: cats}">CATS <span class="span-gallery">GALLERY</span></a></li>
            <!-- <li><a href="#">CONTACT</a></li> -->
            <li *ngIf="!isLoggedIn" (click)="service.toggleLoginForm()"><a>LOGIN</a></li>
            <li *ngIf="!isLoggedIn" (click)="service.toggleRegisterForm()"><a>REGISTER</a></li>
            <li *ngIf="!isLoggedIn"><a class="greetings">Hello, Guest!</a></li>
            <li *ngIf="isLoggedIn" data-bs-toggle="tooltip" title="Visit your profil"><a routerLink="/profile" class="greetings">Hello, {{userName}}!</a></li>
            <li *ngIf="!isLoggedIn"><a class="imgProfileHolder"><img [src]="defaultProfileImg" alt=""></a></li>
            <li *ngIf="isLoggedIn" data-bs-toggle="tooltip" title="Visit your profil"><a a routerLink="/profile" class="imgProfileHolder"><img [src]="imageUrl" alt=""></a><span class="myAcc">My Account</span></li>
            <li *ngIf="isLoggedIn" data-bs-toggle="tooltip" title="Your funds"><a class="balance">Balance: ${{userBalance}}</a></li>
            <li *ngIf="isLoggedIn"><a (click)="authService.logout()">LOGOUT</a></li>
        </ul>
    </nav>
</header>


<div *ngIf="service.isLoginFormVisible" class="login-form-wrapper">
    <app-login></app-login>
    <app-welcome-msg></app-welcome-msg>
    <!-- <button type="button" class="btn btn-secondary login-close-btn" (click)="service.toggleLoginForm()" data-bs-dismiss="modal">Close</button> -->
</div>



<div *ngIf="service.isRegisterFormVisible" class="register-form-wrapper">
    <app-register></app-register>
    <!-- <button type="button" class="btn btn-secondary register-close-btn" (click)="service.toggleRegisterForm()" data-bs-dismiss="modal">Close</button> -->
</div>


