<header class="header-container">
    <div class="header-logo">
        <a href="/home">
            <img class="logo" src="../assets/logo.png" alt="">
        </a>
        <h1><a href="/home">HappyTails</a></h1>
    </div>

    <nav class="nav">
        <ul>
            <li><a href="/home">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">DOGS</a></li>
            <li><a href="#">CATS</a></li>
            <li><a routerLink="/gallery" [queryParams]="{animalChoice: dogs}">GALLERY</a></li>
            <li><a href="#">CONTACT</a></li>
            <li (click)="openLogin()"><a>LOGIN</a></li>
            <li (click)="openRegister()"><a>REGISTER</a></li>
            <li><a href="#">LOGOUT</a></li>
        </ul>
    </nav>
</header>

<div class="modal" tabindex="-1" id="loginModal" style="display: none;" #loginModal>

    <app-login></app-login>
    <div class="close-btn">
        <button type="button" class="btn btn-secondary" (click)="closeLogin()"  data-bs-dismiss="modal">Close</button>
    </div>

</div>
<div class="modal" tabindex="-1" id="registerModal" style="display: none;" #registerModal>
    <app-register></app-register>
</div>