<section class="section-seven">
    <div class="section-seven-back"></div>
    <div class="section-seven-container">
        <div class="section-seven-link">
            <a href="#">
                <i class="fa fa-paw"></i>
                <span class="seven-link-title">Donate</span>
                <span class="seven-link-text">Help give animals the life they deserve</span>
            </a>
        </div>
        <div class="section-seven-link">
            <a href="#">
                <i class="fa fa-paw"></i>
                <span class="seven-link-title">Adopt</span>
                <span class="seven-link-text">Save a life today and add to your family</span>
            </a>
        </div>
        <div class="section-seven-link">
            <a href="#">
                <i class="fa fa-paw"></i>
                <span class="seven-link-title">Volunteer</span>
                <span class="seven-link-text">Help at the clinic or foster some furry friends</span>
            </a>
        </div>
        <div class="section-seven-link">
            <a href="#">
                <i class="fa fa-paw"></i>
                <span class="seven-link-title">Low-cost Clinic</span>
                <span class="seven-link-text">Schedule an appointment and find directions here</span>
            </a>
        </div>
    </div>

</section>