<section class="section-four">
    <article class="adoption-article">
        <div class="adoption-article-image">
            <img src="../../../../assets/hug-dog.png" alt="">
        </div>
        <div class="adoption-article-avatar">
            <img src="../../../../assets/hug-dog.png" alt="">
        </div>
        <h3>Dog Adoption Articles</h3>
        <p>Learn more about caring for your new dog</p>
        <div class="adoption-article-read-more">
            <a href="#">READ MORE</a>
        </div>
    </article>

    <article class="adoption-article">
        <div class="adoption-article-image">
            <img src="../../../../assets/hug-cat.jpg" alt="">
        </div>
        <div class="adoption-article-avatar">
            <img src="../../../../assets/hug-cat.jpg" alt="">
        </div>
        <h3>
            Cat Adoption Articles
        </h3>
        <p>
            Helpful insights on what to expect
        </p>
        <div class="adoption-article-read-more">
            <a href="#">READ MORE</a>
        </div>

    </article>
</section>