.section-two-wrapper {
    min-height: 1020px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
    z-index: 1;

}

.section-two-wrapper .section-two-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2100px;
    background-image: url(../../../../assets/paws.jpg);
    background-size: contain;
    /* background-position: center; */

    opacity: 0.1;
    z-index: -100;

}

.section-two-wrapper .pets-available {
    text-align: center;
    margin-top: -120px;
    margin-bottom: 60px;

}

.section-two-wrapper .pets-available h2 {
    font-size: 36px;
    color: rgb(192, 3, 192);
    letter-spacing: 1px;
    font-weight: 800;
}


.section-two-wrapper .recently-viewed {
    text-align: center;
    font-size: 18px;
    color: rgb(192, 3, 192);
    letter-spacing: 1px;
    font-weight: 800;
}


.section-two-wrapper #myCarousel2 .carousel-inner {
    padding: 1em;

}

.section-two-wrapper #myCarousel2 .carousel-control-prev,
.section-two-wrapper #myCarousel2 .carousel-control-next {
    background-color: #000000;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 100%;
    transform: translateY(-50%);
    opacity: 0.2;
}

.section-two-wrapper #myCarousel2 .carousel-control-prev span,
.section-two-wrapper #myCarousel2 .carousel-control-next span {
    width: 1.5rem;
    height: 1.5rem;
}

.section-two-wrapper #myCarousel2 .carousel-control-prev:hover,
.section-two-wrapper #myCarousel2 .carousel-control-next:hover {
    opacity: 0.7;
}

@media screen and (min-width: 578px) {

    .section-two-wrapper #myCarousel2 .cards-wrapper {
        display: flex;
    }
}

.section-two-wrapper #myCarousel2 {
    width: 1200px;
    height: 200px;
    display: block;
    margin-top: -20px;
}

.section-two-wrapper #myCarousel2 .card {
    margin: 0 .5em;
    width: calc(100%/4);
    border: none;
    border-radius: 0;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

.section-two-wrapper #myCarousel2 .card:hover {
    /* outline: 3px purple solid;
    border-radius: 15px; */
    background-color: rgb(237, 233, 247);
    border-radius: 15px;
    scale: 1.1;
    transition: 0.8s;
    /* cursor: pointer; */

}

.section-two-wrapper #myCarousel2 .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-two-wrapper #myCarousel2 .card-body a {
    font-size: 20px;
    background-color: rgb(163, 2, 163);
    padding-left: 20px;
    padding-right: 20px;
}

.section-two-wrapper #myCarousel2 .image-wrapper {
    /* height: 22vw; */
    display: flex;
    position: relative;
    padding: 10px;
    width: 100%;
    height: 200px;
    margin: 0 auto;
}

.section-two-wrapper #myCarousel2 .image-wrapper .like-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 20px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 254, 254);
    border-radius: 50%;
    text-decoration: none;
    opacity: 0.7;
}

.section-two-wrapper #myCarousel2 .image-wrapper .like-btn:hover {
    background-color: rgb(162, 163, 163);
}

@media screen and (max-width: 576px) {
    .section-two-wrapper #myCarousel2 .card:not(:first-child) {
        display: none;
    }
}

.section-two-wrapper #myCarousel2 .image-wrapper img {
    width: 100%;
    max-height: 100%;
    border: 1px solid rgb(209, 201, 201);
    border-radius: 15px;
    object-fit: cover;
}

.section-two-wrapper #myCarousel2 .card-body .btn:hover {
    background-color: aqua;
    color: purple;
}

.section-two-wrapper .like-btn-wrappper:hover {
    cursor: pointer;
}

.section-two-wrapper .likes-alert {
    display: flex;
    height: 30px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: 20px;
    margin-bottom: 30px;

}

.section-two-wrapper .likes-alert p:first-child {
    background-color: coral;
    padding-bottom: 0;
    padding: 10px 20px;
}

.section-two-wrapper .likes-alert p:last-child {
    padding-bottom: 0;
}

.section-two-wrapper .likes-alert p:last-child span {
    padding: 10px 20px;
    color: white;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(86, 17, 120, 1) 35%, rgba(0, 212, 255, 1) 100%);
}