<section class="section-five">
    <div class="section-five-back">
        <img src="../../../../assets/sec5-back.jpg" alt="">
    </div>
    <h2 class="section-five-title">PLANNING TO ADOPT A PET?</h2>
    <div class="section-five-articles-wrapper">
        <article class="section-five-article">
            <a href="#"><img src="../../../../assets/Organization Outline.svg" alt=""></a>
            <h3>CHECKLIST FOR NEW ADOPTERS</h3>
            <p>Make the adoption transition as smooth as<br>possible</p>
            <a href="#" class="learn-more-btn">LEARN MORE</a>
        </article>
        <article class="section-five-article">
            <a href="#"><img src="../../../../assets/Health Outline.svg" alt=""></a>
            <h3>COVID-19 RESOURCES</h3>
            <p>Learn how shelters/rescue groups are adapting.<br>Find out how you can help dogs and cats</p>
            <a href="#" class="learn-more-btn">LEARN MORE</a>
        </article>
        <article class="section-five-article">
            <a href="#"><img src="../../../../assets/Dog Portrait.svg" alt=""></a>
            <h3>PET ADOPTION FAQS</h3>
            <p>Get answer to all the you questions you have`nt<br>thought of for your adoption</p>
            <a href="#" class="learn-more-btn">LEARN MORE</a>
        </article>
    </div>
</section>