
<div class="section-logo">

    <img class="logo" src="../../../../assets/logo.png" alt="">

    <h1>HappyTails</h1>
    <p>"Your best friend, awaiting for you!"</p>
    <a (click)="service.toggleLoginForm()" class="sign-in">Sign In</a>
    <a (click)="service.toggleRegisterForm()" class="sign-up">Sign Up</a>

</div>

<!-- <div *ngIf="service.isLoginFormVisible" class="login-form-wrapper">
    <app-login></app-login>
    
</div>


<div *ngIf="service.isRegisterFormVisible" class="register-form-wrapper">
    <app-register></app-register>
   
</div> -->