/* @import url('../node_modules/bootstrap/dist/css/bootstrap.css'); */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css');
@import url('./styles/reset.css');
@import url('./styles/typography.css');
@import url('https://fonts.google.com/specimen/Poppins');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

main {
    max-width: 1920px;
}


