<div class="error-section">

    <div class="error-bgnd">
        <img src="../../../assets/error_page.jpg" alt="">
    </div>
    <div class="error-text-wrapper">
        <div class="error-txt">
            Oops, looks like this page is unavailable.
        </div>
        <div class="error-txt">
            You can jump to our Home Page
        </div>
    </div>
    <!-- <div class="error-txt">Here</div> -->
    <div class="home-btn">
        <span><i class="fa-solid fa-house-chimney-window"></i><a routerLink="/home">Home</a></span>
    </div>

</div>