<section class="recently-viewed">
    <h2>Recently Viewed Pets</h2>
</section>

<section class="section-three">
    <div class="cards-wrapper">
        <div class="card">
            <div class="image-wrapper">
                <img src="../../../../assets/dog1.png" alt="...">
                <a href="#" class="like-btn"><i class="fa-regular fa-heart"></i></a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up
                            the bulk of the card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Details</a> -->
            </div>
        </div>
        <div class="card">
            <div class="image-wrapper">
                <img src="../../../../assets/cat1.png" alt="...">
                <a href="#" class="like-btn"><i class="fa-regular fa-heart"></i></a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make
                            up
                            the bulk of the card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Details</a> -->
            </div>
        </div>
        <div class="card">
            <div class="image-wrapper">
                <img src="../../../../assets/dog1.png" alt="...">
                <a href="#" class="like-btn"><i class="fa-regular fa-heart"></i></a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make
                            up
                            the bulk of the card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Details</a> -->
            </div>
        </div>
        <div class="card">
            <div class="image-wrapper">
                <img src="../../../../assets/cat1.png" alt="...">

                <a href="#" class="like-btn"><i class="fa-regular fa-heart"></i></a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make
                            up
                            the bulk of the card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Details</a> -->
            </div>
        </div>
        <div class="card extra-card">
            <div class="image-wrapper">
                <a href="#"><i class="fa-solid fa-paw"></i></a>
                <p>Meet more pets in our Gallery</p>
            </div>
            <div class="card-body">
                <a href="#" class="gallery-link">MEET THEM</a>
            </div>
        </div>
    </div>
</section>