/* Site Title */

.site-title {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    margin-left: 600px;
    font-size: 26px;
    font-family: serif;
    z-index: 1;
}

.site-title h1 {
    font-weight: 100;
    font-style: italic;
    letter-spacing: 10px;
    line-height: 130px;
    z-index: 1;
}

.site-title h1:nth-child(2) {
    align-self: flex-end;
    margin-right: 200px;
    z-index: 1;
}


.site-title h1:nth-child(3) {
    font-style: normal;
    font-weight: bold;
    font-size: 106px;
    z-index: 1;

}

.site-title h1 {
    position: relative;
    color: gold;
}

.title-first-row::after {
    content: 'FIND YOUR';
    color: purple;
    position: absolute;
    display: flex;
    top: 0;
    left: -6px;
    z-index: -1;
}

.title-second-row::after {
    content: 'BEST FRIEND';
    color: purple;
    position: absolute;
    display: flex;
    top: 0;
    left: -6px;
    z-index: -1;
}

.title-third-row::after {
    content: 'TODAY!';
    color: purple;
    position: absolute;
    display: flex;
    top: 0;
    left: -7px;
    z-index: -1;
}


#myCarousel .carousel-item {
    height: 800px;
    background: #000;
    color: white;
    position: relative;
    /* z-index: -1; */
}

#myCarousel .container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    z-index: -1;
}

#myCarousel .overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
}

#myCarousel {
    border-bottom: purple 10px solid;

}

.carousel-control-prev,
.carousel-control-next {
    opacity: 0;
}