<div class="signup-form">

    <div class="form">
        <div class="close" (click)="closeRegister()">&times;</div>
        <div class="text">
            <h1>Register</h1>
        </div>
        <form>
            <div class="row">
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="Last Name">
            </div>

            <input type="email" placeholder="Email ID">
            <input type="password" placeholder="Password">
            <input type="password" placeholder="Confirm Password">
            <input type="submit" value="Register">
        </form>
    </div>
</div>