<section class="section-six">
    <div class="section-six-back"></div>
    <div class="section-six-title">
        <h3>Testimonials from our guardians</h3>
        <p>Who are in extremely love with eco friendly system.</p>
    </div>


    <div id="myCarousel3" class="carousel slide d-none d-sm-block" data-bs-ride="true" data-bs-interval="3500">
        <div class="carousel-inner" *ngIf="isCommentSectionVisible">
            <div class="carousel-item" *ngFor="let commentares of finalUserCommentsArray; let i = index"
                [class.active]="i === 0">
                <div class="cards-wrapper">
                    <div class="card" *ngFor="let comment of commentares">
                        <div class="image-wrapper">
                            <img [src]="comment.profile_img" alt="...">
                        </div>
                        <div class="rate-stars"><span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i></span></div>
                        <div class="card-body">
                            <h5 class="card-title">{{comment.firstName}}</h5>
                            <p class="card-text">{{comment.text}}</p>
                            <div *ngIf="comment && comment.userID == this.userID && this.isCommentSectionVisible && this.isUserLoggedIn" class="btn-wrapper">
                                <a [id]="comment.userID" (click)="editComment($event)"
                                    class="btn btn-primary btn-edit" data-bs-toggle="tooltip" title="Edit Commentary">Edit</a>
                                <a [id]="comment.userID" (click)="toggleConfirm($event)"
                                    class="btn btn-primary btn-delete" data-bs-toggle="tooltip" title="Delete Commentary">Delete</a>
                            </div>
                        </div>
                        
                        <!-- <div class="card">
                        <div class="image-wrapper">
                            <img src="../../../../assets/smilled-man.png" alt="...">
                        </div>
                        <div class="rate-stars"><span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i></span></div>
                        <div class="card-body">
                            <h5 class="card-title">Mike</h5>
                            <p class="card-text">Some quick example text to build on the card title and make
                                up
                                the bulk of the card's
                                content.</p>
                            <div class="btn-wrapper">
                                <a href="#" class="btn btn-primary btn-edit">Edit</a>
                                <a href="#" class="btn btn-primary btn-delete">Delete</a>
                            </div>
                        </div>
                    </div> -->
                        <!-- <div class="card">
                        <div class="image-wrapper">
                            <img src="../../../../assets/smilled-woman3.jpg" alt="...">
                        </div>
                        <div class="rate-stars"><span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i></span></div>
                        <div class="card-body">
                            <h5 class="card-title">Melody</h5>
                            <p class="card-text">Some quick example text to build on the card title and make
                                up
                                the bulk of the card's
                                content.</p>
                            <div class="btn-wrapper">
                                <a href="#" class="btn btn-primary btn-edit">Edit</a>
                                <a href="#" class="btn btn-primary btn-delete">Delete</a>
                            </div>
                        </div>
                    </div> -->
                        <!-- <div class="card">
                                <div class="image-wrapper">
                                    <img src="../../../../assets/cat1.png" alt="...">
            
                                    <a href="#" class="like-btn"><i class="fa-solid fa-heart"></i></a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up
                                        the bulk of the card's
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Details</a>
                                </div>
                            </div> -->
                    </div>
                </div>
                <!-- <div class="carousel-item">
                <div class="cards-wrapper">
                    <div class="card">
                        <div class="image-wrapper">
                            <img src="../../../../assets/smilled-woman.jpg" alt="...">
                        </div>
                        <div class="rate-stars"><span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i></span></div>
                        <div class="card-body">
                            <h5 class="card-title">Veronika</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up
                                the bulk of the card's
                                content.</p>
                            <div class="btn-wrapper">
                                <a href="#" class="btn btn-primary btn-edit">Edit</a>
                                <a href="#" class="btn btn-primary btn-delete">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image-wrapper">
                            <img src="../../../../assets/smilled-man.png" alt="...">
                        </div>
                        <div class="rate-stars"><span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i></span></div>
                        <div class="card-body">
                            <h5 class="card-title">Mike</h5>
                            <p class="card-text">Some quick example text to build on the card title and make
                                up
                                the bulk of the card's
                                content.</p>
                            <div class="btn-wrapper">
                                <a href="#" class="btn btn-primary btn-edit">Edit</a>
                                <a href="#" class="btn btn-primary btn-delete">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image-wrapper">
                            <img src="../../../../assets/smilled-woman3.jpg" alt="...">
                        </div>
                        <div class="rate-stars"><span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i></span></div>
                        <div class="card-body">
                            <h5 class="card-title">Melody</h5>
                            <p class="card-text">Some quick example text to build on the card title and make
                                up
                                the bulk of the card's
                                content.</p>
                            <div class="btn-wrapper">
                                <a href="#" class="btn btn-primary btn-edit">Edit</a>
                                <a href="#" class="btn btn-primary btn-delete">Delete</a>
                            </div>
                        </div>
                    </div> -->
                <!-- <div class="card">
                                <div class="image-wrapper">
                                    <img src="../../../../assets/cat1.png" alt="...">
                                    <a href="#" class="like-btn"><i class="fa-solid fa-heart"></i></a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up
                                        the bulk of the card's
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Details</a>
                                </div>
                            </div> -->
                <!-- </div> -->
                <!-- </div> -->
                <!-- <div class="carousel-item">
                <div class="cards-wrapper">
                    <div class="card">
                        <div class="image-wrapper">
                            <img src="../../../../assets/smilled-woman.jpg" alt="...">
                        </div>
                        <div class="rate-stars"><span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i></span></div>
                        <div class="card-body">
                            <h5 class="card-title">Veronika</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up
                                the bulk of the card's
                                content.</p>
                            <div class="btn-wrapper">
                                <a href="#" class="btn btn-primary btn-edit">Edit</a>
                                <a href="#" class="btn btn-primary btn-delete">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image-wrapper">
                            <img src="../../../../assets/smilled-man.png" alt="...">
                        </div>
                        <div class="rate-stars"><span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i></span></div>

                        <div class="card-body">
                            <h5 class="card-title">Mike</h5>
                            <p class="card-text">Some quick example text to build on the card title and make
                                up
                                the bulk of the card's
                                content.</p>
                            <div class="btn-wrapper">
                                <a href="#" class="btn btn-primary btn-edit">Edit</a>
                                <a href="#" class="btn btn-primary btn-delete">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image-wrapper">
                            <img src="../../../../assets/smilled-woman3.jpg" alt="...">
                        </div>
                        <div class="rate-stars"><span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i></span></div>
                        <div class="card-body">
                            <h5 class="card-title">Melody</h5>
                            <p class="card-text">Some quick example text to build on the card title and make
                                up
                                the bulk of the card's
                                content.</p>
                            <div class="btn-wrapper">
                                <a href="#" class="btn btn-primary btn-edit">Edit</a>
                                <a href="#" class="btn btn-primary btn-delete">Delete</a>
                            </div>
                        </div>
                    </div> -->
                <!-- <div class="card">
                                <div class="image-wrapper">
                                    <img src="../../../../assets/cat1.png" alt="...">
                                    <a href="#" class="like-btn"><i class="fa-solid fa-heart"></i></a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up
                                        the bulk of the card's
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Details</a>
                                </div>
                            </div> -->
                <!-- </div>
            </div> -->
            </div>
             
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel3" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" #btnNext2 type="button" data-bs-target="#myCarousel3" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="false"></span>
            <span class="visually-hidden">Next</span>
        </button>
    
    </div>
    
    <div *ngIf="isConfirmToggled" class="confirmBtn" tabindex="-1">
        <div class="">
            <div class="">
                <div class="">
                    <p>Delete this comment?</p>
                </div>
                <div class="confirmBtn-footer">
                    <button type="button" (click)="deleteComment($event)"  class="btn btn-primary">Yes</button>
                    <button type="button" (click)="toggleConfirm($event)" class="btn btn-secondary">No</button>
                </div>
            </div>
        </div>
    </div>
   

    <div *ngIf="isCommentFormToggled" class="commntary-form">
        <div class="commentary-section">
            <div class="commentary-form-wrapper">
                <form class="commentary-form" [formGroup]="form" (ngSubmit)="onSubmit($event)">
                    <div class="commentary-title">
                        <h2>LEAVE A COMMENT</h2>
                    </div>
                    <div class="star-rating">
                        <input class="radio-input" type="radio" id="star5" name="stars" [value]="true" value="5"
                            formControlName="stars" />
                        <label class="radio-label" for="star5" title="5 stars">5 stars</label>

                        <input class="radio-input" type="radio" id="star4" name="stars" [value]="true" value="4"
                            formControlName="stars" />
                        <label class="radio-label" for="star4" title="4 stars">4 stars</label>

                        <input class="radio-input" type="radio" id="star3" name="stars" [value]="true" value="3"
                            formControlName="stars" />
                        <label class="radio-label" for="star3" title="3 stars">3 stars</label>

                        <input class="radio-input" type="radio" id="star2" name="stars" [value]="true" value="2"
                            formControlName="stars" />
                        <label class="radio-label" for="star2" title="2 stars">2 stars</label>

                        <input class="radio-input" type="radio" id="star1" name="stars" [value]="true" value="1"
                            formControlName="stars" />
                        <label class="radio-label" for="star1" title="1 star">1 star</label>
                    </div>
                    <textarea name="commentary" id="commentary" #commentArea cols="30" rows="10"
                        formControlName="commentary"></textarea>
                    <div class="error-msg"
                        *ngIf="form.get('commentary')?.invalid && (form.get('commentary')?.dirty || form.get('commentary')?.touched)">
                        <div *ngIf="form.get('commentary')?.errors?.['required']"><i
                                class="fa-solid fa-triangle-exclamation"></i> Commentary is required.</div>
                        <div *ngIf="form.get('commentary')?.errors?.['minlength']"><i
                                class="fa-solid fa-circle-info"></i> Commentary must be between 10-400 characters long.
                        </div>
                        <div *ngIf="form.get('commentary')?.errors?.['maxlength']"><i class="fa-solid fa-circle-info"></i> Commentary must be
                            between 10-400 characters long.
                        </div>
                    </div>
                    <div class="form-btns">
                        <button class="post" type="submit">Comment</button>
                        <button class="close" (click)="toggleCommentForm($event)">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div  *ngIf="isRateToggled && isUserLoggedIn" class="rate-us-btn">
        <a (click)="toggleCommentForm($event)"><span class="btn-stars">***</span> Rate Us <span
                class="btn-stars">***</span></a>
    </div>





</section>